/* 
    Mobile First Approach   : Terkecil -> Terbesar (min-width)
*/
/* Default: Mobile */
/* 0px - 480px  */
h1 {
  color: red;
  background-color: bisque;
}

/* Tablet */
/* 481px - 768px */
@media (min-width: 481px) {
  h1 {
    color: blue;
  }
}

/* Laptop, Desktop, TV, etc */
/* 769px - ... */
@media (min-width: 769px) {
  h1 {
    color: aquamarine;
    background-color: green;
  }
}


/* 
    Desktop First Approach  : Terbesar -> Terkecil (max-width)
*/
/* Default: Large */
/* 769px - ... */
h1 {
  color: yellow;
  background-color: green;
}

/* Tablet */
@media (max-width: 768px) {
  h1 {
    color: blue;
  }
}

/* Mobile */
@media (max-width: 480px) {
  h1 {
    color: red;
  }
}
