/* Mobile (Default) */
#card-product {
  width: 343px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
}

#wrapper-image-product {
  width: 100%;
  height: 240px;
}

#image-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#wrapper-content-product {
  padding: 10px;
}

label {
  letter-spacing: 5px;
  color: #ede9e6;
}

#wrapper-content-product > h1 {
  margin: 0px;
}

#wrapper-content-product > p {
  color: #bfc9d1;
}

#button-add {
  width: 100%;
  margin-top: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 7px;
  font-size: 16px;
  font-weight: 900;
  border: none;
}

#button-add:hover {
  background-color: rgb(0, 88, 0);
}

/* Desktop */
@media (min-width: 1440px) {
  #card-product {
    width: 600px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #wrapper-image-product {
    width: 100%;
    height: 100%;
  }

  #wrapper-content-product {
    padding: 50px 50px;
  }
}
